.register-form {
  width: 100% !important;
}

.register-button-item {
  margin-top: 40px !important;
}

.register-button-item .ant-btn {
  padding: 18px 0 !important;
  font-size: 16px !important;
}

.register-form .ant-form-item-label > label {
  font-size: 16px !important;
}
